# temporary files
*~
*.log
nohup.out
.attach_pid*

# build related
target/
metals.sbt

# IDE related
.metals/
.bloop/
.bsp/
.vscode/
.idea/
.classpath
.project/
.cache/
.settings/

# Security purposes
.envrc